﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-self-center">
        <form action="/Home/Mail" method="post" enctype="multipart/form-data" style=" display: flex; flex-direction: column; align-items: center;">
            <h2>.NET Send mail with file</h2>
            <div class="form-group">
                <label for="fromEmail">From:</label>
                <input name="from" required type="email" class="form-control" id="fromEmail" value="minhhungtr9789@gmail.com" disabled>
            </div>
            <div class="form-group">
                <label for="toEmail">To:</label>
                <input name="to" required type="email" class="form-control" id="toEmail">
            </div>
            <div class="form-group">
                <label for="attachment">Attachment:</label>
                <input name="file" required type="file" class="form-control" id="attachment">
            </div>
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input name="subject" required type="text" class="form-control" id="subject">
            </div>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea name="notes" class="form-control" id="notes" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
