﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h4>From: {{From}}</h4>
    <h3>To: {{To}}</h3>
    <h2 style="color:red">Subject: {{Subject}}</h2>
    <p>Notes: {{Notes}}</p>
</body>
</html>